<div class="container text-center landing-page">
  <h1>Push. Commit. Repeat.</h1>
  <h2>Streak helps you keep committing to Github</h2>

  <%= link_to 'Sign in with Github', user_github_omniauth_authorize_path, class: 'btn btn-primary btn-action' %>
</div>
