<h1>You've been committing recently, awesome!</h1>

<p>
  How's it going <%= @user.name %>? Looks like you've been keeping up your programming skills recently. That's great news! Take a look at your cohort's current leaderboard. Remember that the more often you commit, the more likely you'll show up on top!
</p>

<hr>

<% if @user.cohort %>

<%= render('email_leaderboard', cohort: @user.cohort) %>

<% else %>

Whoops... looks like you're not associated with a cohort.

<% end %>
