$font-family-sans-serif: "Circular", Helvetica, sans-serif;
$font-family-serif: "News706", Georgia, serif;
$font-family-headers: "PFDinTextCompProBold", Impact, sans-serif;

$font-family-base: $font-family-serif;
$headings-font-family: $font-family-headers;

// Branding
$ga-black: #222;
$ga-white: #fff;
$ga-red: #fa4542;
